*{padding: 0;margin: 0;}
img{border: 0;height: auto;max-width: 100%;vertical-align: middle;border: 0;}
ul,li{list-style: none;}
b,strong{font-weight: bold;}
a{text-decoration: none;}
p{margin: 0 0 10px;}
input[type="text"]{outline: none;}
body{font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;color: #555;font-size: 13px;}


.navbar{font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;}
.navbar{background: #4d7496;min-height: 48px;filter:none;top: 0;left: 0;z-index: 1030;margin-bottom: 0;padding-left: 0;padding-right: 0;box-shadow: none;border: 0;border-radius: 0;border-bottom: 4px solid #2a4053;}
.navbar:before,.navbar:after{display: table;content: " ";}
.container:before,.container:after{display: table;content: " ";}
.navbar>.container{padding-left: 20px;padding-right: 20px;}
.container{max-width: none!important;padding: 0 20px;}
.navbar .navbar-brand{text-decoration: none; padding: 0;line-height: 48px;color: #fff;text-shadow:0 1px 0 #000;font-size: 18px;width: 230px;text-overflow:ellipsis;white-space: nowrap;overflow-x:hidden;text-align: left;padding-left: 0;max-width: none;margin-left: 0!important;margin-right: 0;}
.navbar-brand{float: left;font-size: 18px;padding: 15px 15px;line-height: 20px;}
.toggle-sidebar{float: left;margin-left: -50px;display: inline-block;position: relative;color: #fff;padding: 14px;font-size: 14px;text-decoration: none;}
.navbar-nav{padding-top: 0;padding-bottom: 0;margin-left: 0;margin-right: 0;}
.navbar-left{float: left!important;}
.hidden-sm{display: block!important;}
.hidden-xs{display: block!important;}
.navbar-right{float: right!important;}
.icon-reorder:before{content: "\f0c9";}
.nav>li:first-child{border-left: 1px solid rgba(0,0,0,0.21);}
.small{font-size: 10px;color: #fff;}
.nav>li{line-height: 28px;border-right: 1px solid rgba(0,0,0,0.2);position: relative;display: block;}
.nav>li>a{color: #fff;font-size: 13px;text-shadow:0 1px 0 #000;padding-top: 14px;padding-left: 18px;padding-right: 18px;text-decoration: none;line-height: 48px;}
.navbar .nav>li>a .badge{position: absolute;font-size: 10px;font-weight: 300;top: 6px;right: 6px;text-align: center;background-color: rgba(219,45,42,0.8);padding:2px 4px;text-shadow:none;}
.badge{display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: bold;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;}
.navbar-nav>li{float: left;}
.dropdown{position: relative;}
.navbar-nav>li>.dropdown-menu{border-top-left-radius: 0;border-top-right-radius: 0;}
.navbar .dropdown-menu{margin-top: 3px!important;position: absolute!important;background-color: #fff!important;border: 1px solid rgba(0,0,0,0.15);box-shadow: 0 6px 12px rgba(0,0,0,0.175)!important;right: 0;left: auto;}
.dropdown-menu{border-radius: 0;font-size: 13px;text-align: left;}
.dropdown-menu{position: absolute;top: 100%;z-index: 1000;display: none;min-width: 160px;float: left;padding: 5px 0;margin: 2px 0 0;background-clip: padding-box;}
.dropdown-menu>li>a{display: block;padding: 3px 20px;clear: both;font-weight: normal;line-height: 1.428571429;color: #333;white-space: nowrap;}
.dropdown-menu .divider{height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5!important;}
.extended{min-width: 180px;max-width: 320px;width: 260px;padding: 0;}
.extended .title{border-bottom: 0;}
.extended  li a{font-size: 12px;padding: 10px;white-space: normal;}
.extended li{border-bottom: 1px solid #e6e6e6;}
.task .percent{float: right;display: inline-block;color: #adadad;font-size: 11px;}
.title p{padding: 6px 15px;background-color: #334d63;margin: 0;font-size: 13px;font-weight: 600;color: #fff;}
.message{padding: 7px;}
.time{font-weight: 300;position: absolute;right: 5px;color: #adadad;font-size: 11px;padding-top: 3px;}
.label{padding: 4px;width: 18px;text-align: center;display: inline-block;}
.label-success{background-color: #94b86e;}
.label-danger{background-color: #e25856;}
.label-info{background-color: #658db3;}
.label-warning{ background-color: #f0ad4e;}
.plus{color: #fff;}
.footer{text-align: center;}


.extended li .progress{margin: 5px 0;}
.progress-small{height: 12px;}
.progress{height: 20px;margin-bottom: 20px;overflow: hidden;background-color: #f5f5f5;box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);}
.progress-bar{background-image: none;background-color: #328ca3;}
.progress-bar{ float: left;height: 100%;font-size: 12px;color: #fff;text-align: center;box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);transition: width 0.6s ease;}
.progress-bar-danger{ background-color: #bd362f;}
.progress-bar-success{background-color: #51a351;}
.progress-bar-warning{background-color: #f89406;}


.photo img{float: left;height: 40px;width: 40px;margin-right: 6px;}
.extended li .text{display: block;white-space: normal;font-size: 12px;line-height: 20px;padding-top: 1px;}
.subject .form{font-size: 13px;font-weight: 600;}

.name{font-weight: bold;}

/*左边导航栏*/
.fixed-header{margin-top: 52px;}
#container{position: relative;height: 100%;}
#sidebar{width: 250px;position: absolute;left: 0;bottom: 0;background: #f9f9f9;height: 100%;z-index: 700;}
#sidebar *{overflow-x: hidden;overflow-y: visible;word-spacing: nowrap;text-overflow:ellipsis;}
.sidebar-fixed{ position: fixed!important;top: 52px;}
.slimScrollDiv{float: left!important;width: 100%!important;}
#divider{background: #cccccc;min-height: 100%;position: absolute;margin-left: 250px;right: -1px;width: 8px;border-left: 1px solid #d1d1d1;border-right: 1px solid #d1d1d1;}
.resizeable{cursor: col-resize;background: url(images/sidebar-divider-dots.png) 2px 50% no-repeat #ececec!important;}
#sidebar-content{float: left;width: 100%!important;}
.slimScrollBar{width: 5px!important;background-color: #878787!important;right: 0!important;border-left: 1px solid #555;border-right: 1px solid #555;box-sizing: content-box;}
/*左边搜索*/
.sidebar-search{margin: 15px;margin-right: 23px;}
.input-box{border-bottom: 1px solid #d9d9d9!important;padding-bottom: 2px;}
.sidebar-search input{margin: 0;border: 0;box-shadow: none;color: #555;background-color: #f9f9f9!important;}
.sidebar-search .submit{display: block;float: right;margin-top: 8px;opacity: 0.7;}
.sidebar-search span{ display: block;overflow: hidden;float: left;line-height: 31px;}

/*左边菜单内容*/
#nav li{display: block;margin: 0;padding: 0;border: 0;border-bottom: 1px solid #ebebeb;}
#nav .current{background: #fdfdfd;}
.current a{border-right: 12px solid #668eb0!important;}
#nav li a{display: block;position: relative;margin: 0;border: 0;padding: 15px 15px;padding-left: 20px;color: #555;text-decoration: none;text-shadow:0 1px 0 #fff;font-size: 13px;font-weight: 600;text-transform: uppercase;}
#nav li a i{color: #6f6f6f;padding-right: 10px;float: left;line-height: 20px;}
.pull-right{position: absolute;right: 15px;margin-right: 20px; float: right!important;}
.label{padding: 5px 4px;text-shadow:none;font-size: 10px;font-weight: normal;}
.arrow{line-height: 20px;position: absolute;right: 10px;}
.label-info{background-color: #658db3;}
.label{display: inline;line-height: 1;color: #fff;text-align: center;vertical-align: baseline;}
.sub-menu{list-style: none;clear: both;font-size: 13px;background: #f1f1f1;border-bottom: 1px solid #fff;}

/*左边提示栏*/
.sidebar-title{background-color: #ececec;padding: 10px;font-weight: 600;border-top: 1px solid #b9b9b9;border-bottom: 1px solid #dfdfdf;box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;font-size: 12px;}
/*左边提示栏内容*/
.notifications{margin: 0;padding: 0;list-style: none;}
.notifications li{padding: 15px;border-bottom: 1px solid #ebebeb;}
.notifications .col-left{float: left;margin-right: -100%;}
.notifications .col-right{float: left;width: 100%;}
.with-margin{margin-left: 35px;}
.notifications .label{text-align: center;display: inline-block;}
.notifications .message{white-space: normal;}
.notifications .time{color: #888;display: block;padding-top: 5px;font-size: 11px;}
/*右边内容页*/
#content{background: #fff;margin-left: 250px;overflow: visible;padding-bottom: 30px;min-height: 100%;}
#content .container{float: left;width: 100%;max-width: none!important;padding: 0 20px;}
.crumbs{margin: 0 -20px;height: 40px;background: #f9f9f9;border-bottom: 1px solid #d9d9d9;}
.row{margin-right: -15px;margin-left: 15px;}
.page-header{padding-bottom: 9px;border-bottom: 1px solid #eee;margin: 40px 0 20px;}
.page-title{float: left;padding: 25px 0;}
.page-title h3{margin: 0;margin-bottom: 10px;color: #555;font-weight: 400;font-size: 20px;}
.page-title span{display: block;font-size: 11px;color: #888;font-weight: normal;}
.page-stats{float: right;padding: 25px 0;margin-left: 0;list-style: none;}
.page-stats li{float: left;display: block;margin-left: 20px;padding-left: 20px;border-left: 1px solid #d9d9d9;}
.page-stats li .summary{float: left;margin-right: 18px;}
.sparkline{margin-top: 4px;}
.graph{float: right;}
.hidden-xs{display: block;}