*{margin: 0; padding: 0;}
a{text-decoration: none;}
img{border: 0;}
li,ul{list-style: none;}

.clear{clear: both;}

.bgAllImage {
display: block;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
}
#main{
	width: 100%;
	height: 100%;
}
#qq{width: 280px; height: 515px; margin: 30px 0 0 150px; border-radius: 10px; box-shadow: 3px 3px 10px rgba(0,0,0,0.29); float: left;}
#qqTitle{ width: 100%; height: 36px;}
#qqVersion{display: inline-block; float: left; font-size: 14px; color: #666; text-shadow:1px 1px 1px #fff; font-family: Arial; padding: 10px 0 0 15px; cursor: pointer; font-weight: bold;}
#qqClose{display: inline-block; float: right; font-size: 14px; color: #666; text-shadow:1px 1px 1px #fff; font-family: Arial; padding: 10px 15px 0 0; cursor: pointer; font-weight: bold;}
#myInfo{width: 100%; height: 100px; border-bottom: 1px solid #bbb; }

#headArea{
	width: 260px;
	height: 46px;
	padding: 5px 10px; 
	
}

#myheadPic{
	width: 40px;
	height: 40px;
	float: left;
	background-color: #fff;
	padding:3px 3px;
}
#myheadPic img{
	width: 40px;
	height: 40px;
	
}
#myNickName{
	width: 204px;
	padding-left: 10px;
	line-height: 40px;
	float: left;
	font-size: 14px;
	font-family: 宋体;
	font-weight: bold;
	color: #fff;
}
#topAllIcon{
	width: 207px;
	height: 15px;
	margin: auto;
	
}
#topAllIcon a{
	display: inline-block;
	height: 15px;
	width: 15px;
	background-image: url("images/icons_list.png");
}

.i_qzone{background-position: 0 0;}
.i_mail {background-position: -20px 0;}
.i_weibo {background-position: -40px 0;}
.i_video {background-position: -60px 0;}
.i_qqwebsite {background-position: -81px 0;}
.i_music {background-position: -103px -1px;}
.i_weiyun {background-position: -166px 0;}
.i_wallet {background-position: -124px 0;}
.i_pengyou {background-position: -144px 0;}


.panel{display: none; height: 368px;border-radius: 2px;}
.panelhead{text-align: center;height: 30px;line-height: 30px; background: linear-gradient(#555,#222); color: #fff;font-weight: bold;}
.panelbody{height: 420px; background: #fff; overflow: auto;text-shadow: none; color: #666;}
.selected {
background: #333;
border-left-color: #222;
color: white;
text-shadow: 0 1px 0 black;
box-shadow: inset 0 0 10px #111;
display: block;
}

.nav_tab_head{
}
#nav_tab a span {
display: block;
position: relative;
bottom: 2px;
width: 100%;
font-size: 12px;
}
nav a .icon {
display: inline-block;
width: 34px;
height: 34px;
background-size: 100% 100%;
}

.contact .icon {
background-image: url(images/tab_icon_conversation.png);
}
.selected.contact .icon {
background-image: url(images/tab_icon_conversation_selected.png);
}



.conversation .icon {
background-image: url(images/tab_icon_contact.png);
}
.selected.conversation .icon {
background-image: url(images/tab_icon_contact_selected.png);
}

.selected.plugin .icon {
background-image: url(images/tab_icon_plugin_selected.png);
}
.plugin .icon {
background-image: url(images/tab_icon_plugin.png);
}

#plugin_list>li {

}
#plugin_list>li {
width: 91.33px;
height: 91.33px;
cursor: pointer;
position: relative;
float: left;
background-color: #dadbe0;
border: 1px solid #eceef2;
border-bottom-color: #c1c7d2;
border-right-color: #c1c7d2;
}
#plugin_list>#qzone>.icon {
background-image: url(images/plugin_icon_qzone.jpg);
}

#plugin_list>#qmail>.icon {
background-image: url(images/plugin_icon_qmail.jpg);
}
#plugin_list>#qq_portal>.icon {
background-image: url(images/plugin_icon_qq_portal.png);
}
#plugin_list .icon {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: no-repeat center 18%;
background-size: 60%;
}
#plugin_list>li>a {
position: absolute;
bottom: 2%;
left: 0;
display: block;
width: 100%;
height: 19px;
line-height: 19px;
font-size: 13px;
text-align: center;
color: #666;
}




.setup .icon {
background-image: url(images/tab_icon_setup.png);
}
 .group {
padding: 10px;
}
.row{ border-radius: 5px;border: 1px solid #AFC8E2; padding: 10px; }


.selected.setup .icon {
background-image: url(images/tab_icon_setup_selected.png);
}

.group>.row>.cloumn {
float: left;
}
.avatar {
width: 40px;
height: 40px;
margin: 8px;
}

.profile_title_setting {
padding-top: 5px;
padding-left: 5px;
width: 62%;
}

.profile_name {
padding: 0;
border: 0;
font-size: 1.4em;
line-height: 1.4em;

}
.text_ellipsis {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #000; 

}
.profile_account {
padding: 0;
border: 0;
color: #666;
font-size: .9em;
}
.online_state_setting {
position: relative;
float: left;
height: 20px;
margin-top: 30px;
font-size: 12px;
cursor: pointer;
}


.online_state_setting li i, .online_state_setting .main_icon {
display: block;
width: 10px;
height: 10px;
background-image: url(images/state_sprite.gif);
background-repeat: no-repeat;
float: left;
margin-right: 2px;
}


.online_state_setting .down_arrow {
width: 10px;
height: 10px;
background-image: url(images/state_sprite.gif);
background-repeat: no-repeat;
background-position: -162px 4px;
float: left;
cursor: pointer;
}
.online_state_setting ul {
display: none;
position: absolute;
border: 1px solid #000;
top: 20px;
left: -40px;
background: #fff;
width: 70px;

}
.online_state_setting li {
padding: 5px 3px;
font-size: 8px;
cursor: pointer;
}
.online_state_setting li:hover {
background: #cff7ff;
}

.online_icon {
background-position: 0 0;
}
.callme_icon {
background-position: -72px 0;
}
.away_icon {
background-position: -18px 0;
}

.busy_icon {
background-position: -36px 0;
}
.silent_icon {
background-position: -108px 0;
}
.hidden_icon {
background-position: -54px 0;
}
.offline_icon {
background-position: -90px 0;
}

.clickAble {
cursor: pointer;
}
.more_icon {
float: right;
width: 16px;
height: 16px;
background: url(images/open_arrow.png) no-repeat center;
background-size: 100% 100%;
margin-left: 10px;
}
#about_qq_all{display: none;}

#about_qq_all .row{
	border-radius: 0;
}

#about_qq_all .row:first-child {
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
border-bottom: 0;
}
#about_qq_all .row:last-child {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top: 0;
}



.loginout {
background: linear-gradient(#f74634,#ce2715)!important;
text-shadow: 0 0 10px #969696;
color: #fff;
text-align: center;
}


nav li {
position: relative;
overflow: hidden;
height: 60px;
border-right: 1px solid #222;
border-left: 1px solid #555;
color: #CCC;
font-size: 14px;
text-align: center;
text-shadow: 0 -1px 0 black;
box-shadow: inset 0 0 10px transparent;
cursor: pointer;
display: block;
float: left;
width: 68px;
background: rgb(85, 85, 85);
	background: linear-gradient(#555,#222);
	background-image: linear-gradient(rgb(85, 85, 85), rgb(34, 34, 34));
}
#session {
border-radius: 0 0 0 10px;
}
#setting{
border-radius: 0 0 10px 0;
}



nav li:first-child {
border-left: 0;
}
nav li:last-child {
border-right: 0;
}

.tab_head{
	width: 100%;
	height: 37px;
	background-color: #fff;
}

.tab_head li {
border: 0;
border-bottom: 2px solid #CCC;
width: 33.33%;
padding: .65em 12px;
background: 0;
box-shadow: 10px 0 0 -9px #CCC;
cursor: pointer;
}
.tab_head > li:first-child {
border-left: 0;
}
.tab_head .active {
border-bottom-color: #0AA7FF;
color: #0AA7FF;
}
.list{display: none;}
.active2{display: block;}
.tab_head > li:last-child {
border-right: 0;
}
.tab_head > li {
display: inline-block;
float: left;
padding: .75em 12px;
width: 24%;
border-left: 1px solid #D8D8D8;
text-align: center;
cursor: pointer;
background-color: #fff;
color: #000;
font-size: 14px;
}

.list_group:first-child .list_group_title {
border-top: 0;
}
.list_group_title {
padding: .65em 28px .75em;
}
.list_arrow_right {
background: url(images/open_arrow.png) no-repeat 12px;
background-size: 14px 14px;
}
.list_group {
	background-color: #fff;
	height: 38px;
	border-top: 1px solid #ccc;
	cursor: pointer;
	color: rgba(255,255,255,0);
}
.listArea{display: none;}

.onlinePercent {
color: gray;
font-size: 12px;
float: right;
line-height: 20px;
}


#friendList{width: 100%; height: 300px; background-color: #ddd; overflow: auto;}

.friendA{width: 100%; height: 60px; cursor: pointer; padding: 5px 0 5px 0;}
.friendA:hover{background-color: #c9c9c9;}
.friendHeadImage{ width: 60px; margin: 0 0 0 10px; height: 60px; background-image: url("images/96476014.jpg"); background-size: 60px 60px; float: left;}
.friendRight{width: 175px; height: 60px; float: left; padding: 0 0 0 15px;}
.friendNickName{font-size: 14px; color: #666; text-shadow:1px 1px 1px #fff; font-family:微软雅黑; display: block; line-height: 30px;}
.friendShuoshuo{font-size: 14px; color: #999; text-shadow:1px 1px 1px #fff; font-family:微软雅黑; display: block; line-height: 30px;}

.qqChat{ width: 700px; height: 500px; margin: 30px 0 0 80px;  position: absolute;  }
.chatTitle{cursor: pointer; width: 660px; height: 32px; padding: 6px 20px 6px 20px;  background-image: linear-gradient(rgb(85, 85, 85), rgb(34, 34, 34)); border-top-left-radius: 15px; border-top-right-radius: 15px; }
.chatHistory{width: 100%; height: 400px; background-color:#e9e9e9;overflow: auto;}
.talkcontent {
width: 680px;
height: auto;
padding: 0px 10px 0 10px;
min-height: 110px;
}
.talktime {
width: 680px;
height: 17px;
text-align: center;
}
.talkclicon {
display: block;
width: 40px;
height: 40px;
margin-left: 10px;
float: right;
background-image: "";
}
.talkcleft {
display: block;
float: right;
width: 340px;
height: auto;
padding: 0 0 0 270px;
}
.talkclname {
height: 14px;
width: 340px;
text-align: right;
font-size: 14px;
margin-bottom: 10px;
display: block;
text-shadow: 1px 1px 1px #fff;
}
.talkcltxt {
width: 320px;
height: auto;
padding: 10px 10px 10px 10px;
text-align: left;
display: inline-block;
border-radius: 5px;
box-shadow: 1px 1px 5px #000;
line-height: 1.4;
background: linear-gradient(#fff,#e1e1e1);
min-height: 22px;
max-height: 380px;
}
.chattime {
width: 35px;
height: 13px;
padding: 2px 8px 2px 8px;
text-align: center;
color: rgba(255,255,255,.8);
background: rgba(0,0,0,.3);
font-size: 13px;
border-radius: 8px;
display: inline-block;
line-height: 13px;
}


.chatControl{width: 100%; height: 50px; background-image: linear-gradient(rgb(85, 85, 85), rgb(34, 34, 34));}

.chat_toolbar {border-radius: 0 0 5px 5px;padding: 3px 10px 5px 6px; height: 42px;width: 684px;}
.add_face_btn {border: 0;background: 0;width: 38px; float: left; }
.chat_toolbar .btn {display: block; font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 16px;}
.btn {cursor: pointer!important;}
.btn_face {padding: 5px;}
.btn_face .btn_img {background: url(images/chat_bottombar_icon_face.png);display: block; background-size: 100% 100%!important; margin: 0 4px}
.chat_toolbar .btn_img {width: 30px;height: 30px;}
.chat_textarea{
	width: 550px;
	border-radius: 5px;
	padding: 5px 10px;
	height: 32px;
	margin: 5px 10px 5px 6px;
	max-height: 80px;
	overflow: hidden;
	float: left;
	display: block;
}
.input_white, .icon_input_white {
color: #333;
background: #F9F9F9;
box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
}
.input, .icon_input {

}

.send_chat_btn {
width: 50px;float: left; border: 0;
font-size: 14px;
border-radius: 5px;
vertical-align: middle;
margin-top: 5px;
}
.btn_small {
padding: 6px 10px!important;
display: block!important;
}
.btn_small {
display: inline-block;
padding: .57em 10px;
width: auto;
font-size: 14px;
vertical-align: middle;
}
.btn_blue {
border-color: #044062;
background: #396B9E;

text-shadow: 0 1px 1px #194B7E;
}
.face_images{
	display: none;
}
.qq_face_area {
display: none;
width: 700px;
text-align: center;
margin: 0 auto;
overflow: hidden;
cursor: pointer;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

background-color: #ccc;
}
.wrap {
width: 1000%;
height: 100%;
margin: 0 auto;

}
.qq_face_area .wrap li {
list-style: none;
height: 280px;
float: left;
overflow: hidden;
}
.faceIteam {
width: 700px!important;
list-style: none;
height: 144px;
float: left;
background-repeat: no-repeat center center;
}
.faceIteam1 {
background-image: url(images/1.jpg);
}
.faceIteam2 {
background-image: url(images/2.jpg);
}
.faceIteam3 {
background-image: url(images/3.jpg);
}
.faceIteam4 {
background-image: url(images/4.jpg);
}
.faceIteam5 {
background-image: url(images/5.jpg);
}
.faceIteam6 {
background-image: url(images/6.jpg);
}
.qq_face_area ul li i {
margin-left: 12px;
width: 87px;
height: 92px;
display: block;
float: left;
}
.qq_face_area ul li i:hover{
	border: 1px solid blue;
}



.btnsWrap {
padding: 0 0 10px 290px;
}
.btnsWrap>li {
float: left;
list-style-type: none;
margin: 5px 10px 0 0;
padding: 2px;
width: 10px;
height: 10px;
border-radius: 10px;
background: gray;
}





.chatMenu{width: 60px; height: 32px; border: 1px solid #222;border-radius: 7px; float: left;}
.chatFriendName{color: #fff; font-weight: bold; text-align: center; float: left; width: 530px; margin: auto; height: 32px; line-height: 32px; font-family:微软雅黑; }
.chatClose{width: 60px; height: 32px; border: 1px solid #222;border-radius: 7px; float: right; color: #fff; line-height: 32px; font-family: 微软雅黑; font-size: 14px; text-align: center; cursor: pointer;}


.NotifySettingArea{width: 700px; height: 500px; margin:30px 0 0 30px; float: left;display: none;}
.NotifySettingHead{ width: 660px; height: 32px; padding: 6px 20px 6px 20px;  background-image: linear-gradient(rgb(85, 85, 85), rgb(34, 34, 34)); border-top-left-radius: 15px; border-top-right-radius: 15px; }
.NotifySettingtMenu{width: 60px;height:32px;border: 1px solid #222;border-radius: 7px; float: left;}
.NotifySettingTitle{color: #fff; font-weight: bold; text-align: center; float: left; width: 530px; margin: auto; height: 32px; line-height: 32px; font-family:微软雅黑;}
.NotifySettingClose{width: 60px; height: 32px; border: 1px solid #222;border-radius: 7px; float: right; color: #fff; line-height: 32px; font-family: 微软雅黑; font-size: 14px; text-align: center; cursor: pointer;}
.NotifySetting{width: 700px;height: 468px; background: #EDEDED;}
.group > .row {
background: white;
}
.list_page .label {
color: #666;
float: left;
width: 80px;
}
.switch {
float: right;
}

