ul,li{ list-style: none;}
img{border: 0;}
*{ margin: 0;padding: 0;}
a{ text-decoration: none;}

#MenuAll{ width: 100%;height:48px;border-bottom: 1px solid #cbcbcb; background-color: #dddddd;margin: 100px auto;}
.MenuContainner{ width: 984px;margin: 0 auto;}
#MenuA{height: 40px;font-size: 12px;float: left;display: inline-block;padding-top: 10px;}
.MenuTitle{ font-family: 'Steelfish Bd';color: #666;}
.MenuA1{float: left;width: 70px; height: auto;position: relative;}
.MenuTitleCommon{ border-radius: 4px 4px 0 0;color: #666;display: inline-block;height: 32px;line-height: 32px;text-align: center;padding: 0 8px 0 8px;}
.ColumnCommon{ width:210px;box-shadow: 1px 1px 10px #666;display: none;color: #666; background-color: #fff;position: absolute;}
.ColumnCommon li{ width: 210px;height: 31px;line-height: 31px;}
.ColumnCommon a{color: #666; padding-left: 5px;}