*{ margin: 0;padding: 0;}
img{border: 0;}


#FlashImage{width: 1280px;height:750px;margin: auto; border: 1px solid #ccc;position: relative;}
#FlashA{position: absolute;left: 1000px;top: 650px;}
.ImageControl{width: 60px;height: 60px;border: 1px solid #ccc;display: block;float: left;margin: 0 5px 0 2px;cursor: pointer;}
.ImageControl{line-height: 60px;text-align: center;}
#FlashImage{background-image: url(images/1.jpg);}
.ImageActive{ background-color: #dddddd;}
#moveLeft{position: absolute;width: 60px;height: 60px;background-color: #dddddd;top: 350px;}
#moveRight{position: absolute;width: 60px;height: 60px;background-color: #dddddd;top: 350px;left: 1220px;}
.clickCommon{display: block;line-height: 60px;text-align: center;cursor: pointer;}